*{
    padding: 0;
    margin: 0;
}
body{
   
    font-family: 'Lato'; 
    overflow-x: hidden;
    letter-spacing: 0.3px;


}
.texto{
    color: #666666;
    margin-bottom: 15px;
}

header {
    padding-top: 20px;
    padding-bottom: 27px;
    display: inline-block;
    list-style: none;
    width: 100%;
    box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

#logo {
position: relative;
margin-left: 20%;
top: 20px;
width: 50px;
margin-right: 70px;
float: left;
margin-top: -50px; 
}

nav#menu {
    text-align: right;
    margin-top: -15px;
    margin-right: 18%;

    

}

nav#menu ul li { 
    display: inline; 
    margin: 15px 20px; 

}
nav#menu ul li a { 
    font-size: 11pt; 
    color: gray;
    text-decoration: none;  
}

nav#menu a:hover {
    color:#009c3b ;
}
label[for="bt_menu"]{
    padding: 2px;
    background-color: #009c3b;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 33px;
    height: 33px;
    color: white;
    
}
.inicial h1{
    padding-top: 40px;
    font-size: 40pt;
    color: #009c3b;
}
.subtitulo{
    font-size: 13pt;
    color: #666666;
    margin-top: 2px;
    max-width: auto;
    margin-bottom: 50px;
    font-weight: normal;
}
.icone {
    width: 30px;
}

.inicial h3 , .h2suporte{
    font-size: 13pt;
    font-weight: normal;
    color: #666666;
    margin-top: 10px;
    
}
.binicial{
    margin: 20px auto;
    border: solid 1.5pt rgba(158, 158, 158,0.7);
    border-radius: 10px;
    width: 291px;
    text-align: left;
    margin-left: 0;
    padding: 15px;
}
.binicial:hover{
    background-color: rgb(0, 158, 61, 0.1);
}


.inicial{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 150px;
}

.mkt-completo{
    float: right;
    position: absolute;
    margin-top: 180px;
    right: 10%;
    display: none;
    width: 550px;

}

.inicial a{
    font-size: 14pt;
    color: #666666;
    display: block;
    text-decoration: none;
    color: #009c3b;
    font-weight: bold;
    margin-top: -5px;



}

.inicial a:hover{

    color: #009c3b;

}

.inicial img {
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
}

.analise{
    margin-top: 50px;
    font-size: 14pt;
    color: #666666;
    

   }

.field{
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    margin-right: 20px;
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.field1{
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-size: 11pt;
}


.bottom{
    background: none;
    border: 0;
    font-size: 13pt;
    font-weight: bold;
    color: #666666;
    cursor: pointer;
    margin-top: 20px;
}

.bottom3{
    background: none;
    border: 0;
    font-size: 12pt;
    font-weight: bold;
    color: #666666;
    cursor: pointer;
}
.bottom3:hover{
    color: #009c3b;
}
.bottom:hover{
    color: #009c3b;
}
.back{
    background-color:  #009c3b ;

}
.services{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services figcaption{
    color: #ffdf00;
    font-size: 13pt;
    margin-bottom: 5px;
}
.services h2{
    font-size: 25pt;
    color: white;
    margin-bottom: 50px;
    padding-top: 100px;

}

.services li {
    margin: 30px auto;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    width: 300px;
    font-size: 11pt;
    text-align: center;
    transition: 0.2s;
    color: white;
    
}
.services ol{
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.services li p{
    margin-bottom: 10px;
    font-size: 12pt;
}
.sabermais{
    color: white;
}
.botao-center{
    padding: 10px;
    background-color: white;
    border-radius: 5%;
}
.cases{
    text-align: center;   
    margin-top: 150px; 
}
.tituloverde{
    font-size: 25pt;
    color:#009c3b;
    margin-bottom: 50px;
}
.watch-slider .slide{
    cursor: grab;
    overflow-x: hidden;  
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    outline: none !important;
}


.global-page-container{
    text-align: center;


}

.avaliacoes{
text-align: center;
width: 300px;
margin: 50px auto;
margin-top: 100px;


}

.avaliacoes li {

margin: 20px 10px;
display: inline-block;
vertical-align: top;
width: 200px;
padding-bottom: 10px;
font-size: 11pt;
text-align: left;
transition: 0.2s;
box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
border-radius:7px;
padding: 20px;





}
.avaliacoes ol{
    text-align: center;
    margin: 0 auto;


}

.cidade{
    margin-bottom: 20px;
    color: #009c3b;
}

.avaliacoes li a{
    color: #666666;
    text-decoration: none;
}

.nome{
font-size: 12pt;
font-weight: bold;
margin-bottom: 5px;
margin-top: 15px;
color: #666666;

}
.estrelas{
    text-align:center;
    margin-bottom: 20px;
}

.contato{
    width: 300px;
    margin: 0 auto;
    text-align: center;

}
.contato li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;
    
}



.contato-direto h3{
    font-size: 15pt;
    color:#009c3b;
}


.contato-direto{

    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;

}


.contato-direto li{
    display: inline-block;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}
.contato-direto li p{
    margin: 10px auto;
}
.sigas {
    text-align: center;
        }
.sigas img{
margin: 50px 10px 50px 10px;
}

footer#rodape {
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    padding: 60px 0 10px 0;
    margin-top: 50px;
}

footer p{
    color: #666666; 
}
.contato-direto a{
    color: #666666;
    text-decoration: none;
}

.linhas{
    font-size: 9pt;
}
.logo-suporte{
    padding: 20px;
    margin-top: 50px;
    width: 60px;
}
#bt_menu {
    display: none;
}

label[for="bt_menu"]{
display: none;

}
.field{
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    margin-right: 20px;
    margin-top: 20px;
    width:150px;
    text-align: left;

    
}


.field1{
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    margin-top: 10px;
    padding-left: 5px;
}




.bottom{
    background: none;
    border: 0;
    font-size: 13pt;
    font-weight: bold;
    color: #666666;
    cursor: pointer;
    margin-top: 20px;


}

.sigas img{
width: 40px;
}

.sigas img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.subtitulo2{
    font-size: 12pt;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #666666;
}






@media (max-width: 600px){ 
    header {
        padding-bottom: -0px;
    }
    #logo {
        margin-left: 5%;
    }
    .menu{
        margin-left: -200%;
        transition: all .4s;
        height: 100%; 
        
        }
    
    
    .menu ul li {
        float: none;
        height: 100%;        }
    .menu ul li a {
        display: block; 

    }
    .field{
        width: 100%;
        text-align: center;
    }

    
    
    nav#menu {
        position: absolute;
        left: 0;
        top: 110px;
        display: block;
        background-color: white;
        width: 100%;
        text-align: center;
        z-index: 1;
    }
    nav#menu a {
        margin-top: 15px;
        font-size: 13pt;
    }
    nav#menu ul li a{
        font-size: 14pt;
    }
    
    label[for="bt_menu"]{
        display: block;
        margin-left: 85%;
        margin-top: -25px;
        margin-bottom: 17px;
        border-radius: 15px;
    }
    #bt_menu:checked ~ .menu {
        margin-left: 0;
        margin-top: -39px;
    }
    .inicial h1{
        font-size: 40pt;
        line-height: 1.0;
        margin-bottom: 15px;
    }
    .subtitulo{
        font-size: 15pt;
        width: 80%;
        margin-bottom: 30px;
    }
    .sub{
    font-size: 35pt;
    color: #666666;

    }
    .subtitulo2{
        margin-bottom: 0px;
    }
    #services{
        font-size: 30pt;
    }
    .tituloverde{
        font-size: 30pt;
    }
    .avaliacoes li{
        margin: 20px 10px;
        width: auto;

    }
        

}

@media (min-width: 900px){ 
    nav#menu a {
        color: gray;
        text-decoration: none;
        font-size: 11pt;
    }
    .inicial{
        margin-right: 10%;
        margin-left: 10%;

    }
    .inicial h1{
        font-size: 50pt;
    }
    .mkt-completo{
        right: 5%;
        display: block;

    }
    .tituloverde{
        font-size: 40pt;
    }
    .subtitulo{
        font-size: 16pt;
    }
    #services{
        font-size: 40pt;
    }
    .services{
        width: 900px;
        padding-bottom: 150px;
    }
    .services li{
        width: 300px;
        margin: 60px 40px;
    }
    .services ol{
        margin: 0 auto;
        width: auto;
        text-align: center;
    }

    
    .cases{
        margin-right: 10%;
        margin-left: 10%;
    }


    #logo {
        margin-left: 10%;
    }


    .mkt-completo{
    
        display: block;
    
    }

    .avaliacoes li{
        margin: 20px 10px;
        width: 300px;

    }

   
    .contato li{
     
        text-align: left;
      
    }
    .contato ol li{
        margin-right: 50px;
        margin-left: 50px;
    }
    .bottom{

        margin-top: auto;
    
    
    }
    .contato-direto .icone{
        margin-bottom: -5px;
        width: 25px;
    }

    .field{
      
        width: auto;
    }

    .contato{
        width: 900px;
        margin: 0 auto;
        text-align: center;
    
    }
    .contato ol{
        text-align: center;
        margin-left: -20px;        
        
    }
    .contato li{
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin-top: 50px;
       
    }
    .inicio {
        height: 550px; 
}
.avaliacoes{

    width: 800px;
 
    
    }
    





}

@media (min-width: 1200px){


    .inicial{
        margin-right: 15%;
        margin-left: 15%;

    }
    .services {
        width: 1200px;
    }



    .mkt-completo{
        right: 10%;
        display: block;


    }
    .services li {
        
        width: 20%;
        margin-right: 60px;
        margin-left: 60px;
    }
    .cases{
        margin-right: 10%;
        margin-left: 10%;
        
    }
    #logo {
        margin-left: 15%;
    }



}