@import 'mapacores.less';
@breakpointTablet: ~"(max-width: 767px)";

.styleButton {
    color:  white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
}

body {
    background-color: #cores[backgroundColor];
}

header {
    position: absolute;

    button {
        .styleButton();
        transition: all ease .5s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .lista {
        background-color: aqua;

        &-item {
            background-color: black;
        }
    }
}

@media @breakpointTablet {
    body {
        background-color: beige;
    }
}