@cor01: rgb(175, 216, 87);
@import 'reset.less';

body {
    background-color: @cor01;
}

header {
    .menu-hanburgue {
        .menu {
            cursor: pointer;
        }

        .menu-nav {
            display: none;
            background-color: white;

            li {
                text-align: center;
                margin-bottom: 3vh;
                padding: 10px 0px;

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

.menu-hanburgue.is-open .menu-nav {
    display: block;
}

.text-resposta {
    display: none;
}